---
---

@import "reset";
@import "config";

body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    background:
        linear-gradient(
            180deg,
            $color-hire-green,
            $color-hire-blue
        );
}

.header {
    max-width: 1000px;
    margin: auto;
    &__container {
        padding: 8em 0;
        text-align: center;
    }
    &__name {
        color: $color-hire-white;
        font-size: 4em;
        font-weight: 900;
        letter-spacing: 0.02em;
        text-shadow: $color-hire-shadow -3.5px -0.35px 8px;
    }
    &__links {
        margin-top: 2em;
        list-style: none;
        li {
            display: inline;
            margin: 0 0.4em;
        }
        a {
            color: $color-hire-white;
            border-bottom: 0.1em solid $color-hire-white;
            padding: 0 0.05em 0.1em 0.05em ;
            font-size: 1.4em;
            transition: 100ms linear;
            &:hover {
                color: $color-hire-white;
                border-bottom-width: 0.2em;
                transition: 100ms linear;
            }
            &:active {
                color: $color-hire-white;
            }
        }
    }
}

.work {
    max-width: 1000px;
    margin: auto;
    &__container {

    }
}
