---
---

@import "reset";
@import "config";

body {
    color: $color-primary;
    background: $color-background;
}
h1, h2 {
    margin-bottom: 5px;
}
a {
  color: #1A0DAB;
  text-decoration: none;
  &:visited {
    color: #1A0DAB;
    text-decoration: none;
  }
  &:hover {
    color: #1A0DAB;
    text-decoration: underline;
  }
  &:active {
    color: #1A0DAB;
    text-decoration: none;
  }
}
ul {
    margin-top: 5px;
    li {
        margin-top: 5px;
    }
}


.wrapper {
    padding: 30px;
}


.main {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 20px;
    }
    ul {
        li {
            display: inline;
            margin-right: 5px;
        }
    }
}


.blog {
    h1 {
        font-size: 26px;
    }
}


.post {
    h1 {
        font-size: 26px;
    }
}


.portfolio {
    h1 {
        font-size: 26px;
    }
}


.about {
    h1 {
        font-size: 26px;
    }
}
