---
---

@import "reset";
@import "config";

body {
    color: $color-primary;
    background: $color-background;
}
h1, h2 {
    margin-bottom: 5px;
}
a {
  color: #1A0DAB;
  text-decoration: none;
  &:visited {
    color: #1A0DAB;
    text-decoration: none;
  }
  &:hover {
    color: #1A0DAB;
    text-decoration: underline;
  }
  &:active {
    color: #1A0DAB;
    text-decoration: none;
  }
}
ul {
    margin-top: 5px;
    li {
        margin-top: 5px;
    }
}


.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 30px;
}


.main {
    padding: 5px;
    margin-bottom: 30px;
    border-bottom: 2px solid #000;
    @media screen and (min-width: 570px) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    h1 {
        font-size: 36px;
        margin-right: 20px;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            margin-right: 5px;
        }
    }
}


.blog {
    h1 {
        font-size: 26px;
    }
}


.post {
    h1 {
        font-size: 26px;
    }
}


.portfolio {
    h1 {
        font-size: 26px;
    }
}


.about {
    h1 {
        font-size: 26px;
    }
}
