---
---

@import "reset";
@import "config";

body {
    color: $color-primary;
    background: $color-background;
    font-family: 'Inconsolata', ;
    font-size: 100%;
}
h1, h2 {
    margin-bottom: 5px;
}
a {
  color: #1A0DAB;
  text-decoration: none;
  &:visited {
    color: #1A0DAB;
    text-decoration: none;
  }
  &:hover {
    color: #1A0DAB;
    text-decoration: underline;
  }
  &:active {
    color: #1A0DAB;
    text-decoration: none;
  }
}
ul {
    margin-top: 5px;
    li {
        margin-top: 5px;
    }
}


.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    padding-top: 60px;
    @media screen and (max-width: 570px) {
        padding: 20px;
    }
}


.main {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 40px;
    @media screen and (max-width: 570px) {
        display: block;
    }
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            margin-right: 5px;
        }
    }
}


.work {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}



.blog {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}


.post {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}


.about {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}
