<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Max Humber{% endblock %}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="{{ og_type }}">
    <meta property="og:url" content="{{ url }}">
    <meta property="og:image" content="{{ image }}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="/static/highlight.css">
    <link rel="stylesheet" href="/static/style.css">
    {% block feeds %}
    {% for tag in tags %}
    <link rel="alternate" type="application/rss+xml" title="#{{ tag }}" href="/feed/{{ tag }}.xml">
    {% endfor %}
    {% endblock %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="49865e68-5a7e-4e56-9ff3-4f1719b00f03"></script>
</head>
<body>
    <main>
        <nav>
            <a href="/"><img src="/static/signature.png" alt="Max Humber"></a>
            <div>
                <a href="https://bracket.ltd/">Apps</a>
                <a href="https://linkedin.com/in/maxhumber">LinkedIn</a>
                <a href="https://github.com/maxhumber">GitHub</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
