<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Max Humber{% endblock %}</title>
    <link rel="stylesheet" href="/static/highlight.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <main>
        <header>
            <a href="/" class="home-link">
                <img src="/static/signature.png" height="75" alt="Max Humber">
            </a>
        </header>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
